nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

span.logo {
  font-family: "Bungee", sans-serif;
}

.new-tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  color: rgb(131, 52, 52);
}
